@import "../../assets/sass/common/import";
.sign-up-section {
  margin-top: 18px;
  position: relative;
  background: $green;
  color: $white;
  padding: 40px 0;
  text-align: center;
  @include breakpoint(mobile) {
    padding: 25px 0;
  }
  h2 {
    font-family: $Pacifico;
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
    span {
      margin-left: 10px;
      @include breakpoint(mobile) {
        display: block;
      }
    }
  }
  .wrapper {
    display: flex;
    text-align: left;
    @include breakpoint(mobile) {
      text-align: center;
      flex-flow: column;
    }
  }
  p {
    margin-top: 18px;
    flex: 1;
  }
  .email-input {
    outline: none;
    border: none;
    font-weight: 400;
    background: $white;
    font-size: 8px;
    padding: 11px 14px;
    flex: 1;
  }
  .subscription {
    display: flex;
    flex: 1;
    margin-left: 16px;
    align-items: center;
    @include breakpoint(mobile) {
      margin: 0;
    }
  }
  .subscribe-btn {
    font-family: $Pacifico;
    margin-left: 10px;
    font-size: 10px;
    background: none;
    border: 2px solid $white;
    outline: none;
    color: $white;
    height: 32px;
    min-width: 85px;
  }
}
