@import "../../assets/sass/common/import";

.slider-section {
  position: relative;
  .slider {
  }
  .slider-detail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16;
    color: $white;
  }
  
.slider-img {
  width: 100%;
}
  .title {
    font-family: $Pacifico;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
  }
  .detail {
    margin: 0 0 20px;
  }
  .shop-btn {
    background: $black;
    padding: 7px 20px;
    border: none;
    color: $white;
  }
  .slider-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    bottom: 15px;
    left: 0;
    padding: 0;
    right: 0;
    li {
      width: 12px;
      height: 12px;
      background: #d8d8d8;
      margin: 0 5px;
      cursor: pointer;
    }
    .active {
      background: $white;
    }
  }
}
